.container-fluid{
    padding-bottom: 70px;
    padding-top: 100px;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper2{
    display: flex;
    margin-top: 3em;
    align-items: center;
    justify-content: center;
  }
  .responsiveImage{
    width: 100%;
    max-width: 300px;
    height: auto;
  }