<div class="container-fluid">
    <ng-template #mymodal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Dein zufälliger Schuh</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <strong>{{message}}</strong>
            <p *ngIf=!fehler>
                <strong>SchuhMarke: </strong>{{mname}}
                <strong>Schuhgröße: </strong>{{sSize}}
                <strong>Modellname: </strong>{{moname}}
                <img class="responsiveImage" src={{pic}}>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Schließen</button>
        </div>
    </ng-template>



    <div class="row flex-xl-nowrap">
        <main class="col-12 bd-content" role="main">
            <h1>Herzlich Willkommen</h1>
            <div class="d-none d-lg-block">
                <pre>
            Diese Website ist im Rahmen einer Lehrveranstatlung entwickelt worden. 
            Das Ziel dieser Website ist, dass Nutzer ihrer Schuhe speichern können. Damit derNutzer die
            Schuhe hinzufügen kann, muss die Schuhmarke, die Schuhgröße, sowie ein Modellname angeben werden.
            Außerdem muss ein Bild des Schuhes beim hinzufügen hochgeladen werden.
                    
            Sollte es hierbei zu Fehleingaben kommen, können die Daten im Nachhinein bearbeitet werden.
            Da Schuhe nur eine gewisse Haltbarkeit aufweisen, bietet diese Website dem Nutzer auch das löschen
            von bereits eingetragenen Schuhen. 
            Zum Quelltext <a  href="https://gitlab.com/El_Oxo/webproject/">hier</a> klicken.
                </pre>
            </div>
            <div class="d-block d-lg-none">
                <p> Diese Website ist im Rahmen einer Lehrveranstatlung entwickelt worden.
                    Das Ziel dieser Website ist, dass Nutzer ihrer Schuhe speichern können. Damit derNutzer die
                    Schuhe hinzufügen kann, muss die Schuhmarke, die Schuhgröße, sowie ein Modellname angeben werden.
                    Außerdem muss ein Bild des Schuhes beim hinzufügen hochgeladen werden.

                    Sollte es hierbei zu Fehleingaben kommen, können die Daten im Nachhinein bearbeitet werden.
                    Da Schuhe nur eine gewisse Haltbarkeit aufweisen, bietet diese Website dem Nutzer auch das löschen
                    von bereits eingetragenen Schuhen.
                
                    Zum Quelltext <a  href="https://gitlab.com/El_Oxo/webproject/">hier</a> klicken.</p>
            </div>
            <h2>Welchen Schuh trage Ich Heute ?</h2>
            <div class="wrapper">
                <button class="btn btn-primary" (click)="getRandomSchuh(); open(mymodal);">{{btnLabel}}</button>
            </div>
        </main>
    </div>
</div>