.bd-content{-webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
.container-fluid{
  padding-bottom: 70px;
  padding-top: 100px;
}

.responsiveImage{
  width: auto;
  max-width: 300px;
  height: auto;
  max-height: 300px;
}

.responsiveImage1{
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
margin: 0 auto;
}