<div class="container-fluid">
  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Bild vom {{modalName}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <img class="responsiveImage1" src={{modalImg}}>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Schließen</button>
    </div>
  </ng-template>
  <ng-template #mymodal2 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Bearbeiten von {{modalName}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <!-- Markenname -->
          <label for="mname" class="control-label">neue Marke:</label>
          <input type="text" formControlName="mname" class="form-control" id="mname" name="mname" autocomplete="off"
            placeholder={{alterMarkenname}}>
        </div>
        <div class="form-group" >
          <!-- Schuhgröße -->
          <label for="mname" class="control-label">neue Schuhgröße:</label>
          <input type="number" formControlName="sSize" class="form-control" id="sSize" name="sSize" autocomplete="off"
            placeholder={{alteSchuhgr}}>
        </div>
        <div class="form-group">
          <!-- Modelname -->
          <label for="moname" class="control-label">neuer Modelname:</label>
          <input type="text" formControlName="moname" class="form-control" id="moname" name="moname" autocomplete="off"
            placeholder={{alterModelname}}>
        </div>
        <div class="form-group" >
          <!-- Foto -->
          <label for="pic" class="control-label">neues Bild vom Schuh:</label>
          <input #file type="file" formControlName="pic" class="form-control-file" id="pic" name="pic" accept="image/*"
            (change)="preview(file.files)">
          <img class="responsiveImage1" [src]="imgURL">
        </div>
        <div class="form-group has-error">
          <button type="submit" class="btn btn-success">Aktuallisieren</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Schließen</button>
    </div>
  </ng-template>

  <h1> Meine Schuhe</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Markenname</th>
          <th scope="col">Schuhgröße</th>
          <th scope="col">Modelname</th>
          <th scope="col">Bild vom Schuh</th>
          <th scope="col">Bearbeiten</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of schuheList; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{item.mname}}</td>
          <td>{{item.sSize }}</td>
          <td>{{item.moname}}</td>
          <td>
            <img class="responsiveImage" src={{item.pic}} (click)="open(mymodal,null,item.pic,item.moname)">
          </td>
          <td>
              <button class="mdc-icon-button material-icons" (click)="open(mymodal2,i,null,null)">create</button>
              <button class="mdc-icon-button material-icons" (click)="delete(i)">delete</button>       
        </tr>
      </tbody>
    </table>
  </div>
</div>