.header{
    position: fixed;
    top: 0;
    width: 100%;
}
.bd-navbar {
    min-height: 4rem;
    background-color: #fc0000;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}
.bd-navbar .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    color: #ffffff;
}
.bd-navbar .navbar-nav .nav-link-active, .bd-navbar .navbar-nav .nav-link:hover {
    color: rgb(0, 0, 0);
    background-color: transparent;
}

.bd-navbar .navbar-nav-scroll {
    max-width: 100%;
    height: 2.5rem;
    margin-top: .25rem;
    overflow: hidden;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.bd-navbar .navbar-nav-scroll .navbar-nav {
    padding-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}