<body>
  <router-outlet #routerOutlet="outlet"></router-outlet>
  <header class="header navbar navbar-expand-lg navbar-light bd-navbar flex-column flex-md-row bd-navbar">
    <a class="navbar-brand mr-0 mr-md-2" routerLink="/">
      <img
        src="https://image.jimcdn.com/app/cms/image/transf/none/path/s51d5761c8b1e4cac/image/ib7e71f10278436f3/version/1565781782/image.png"
        width="30" height="30" class="d-block" alt="">
    </a>
    <div class="navbar-nav-scroll">
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="nav-link-active"
            [routerLinkActiveOptions]="{exact:true}"><strong>Startseite</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/addView" routerLinkActive="nav-link-active"
            [routerLinkActiveOptions]="{exact:true}"><strong>Hinzufügen</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/getView" routerLinkActive="nav-link-active"
            [routerLinkActiveOptions]="{exact:true}"><strong>Meine Schuhe</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/impressum" routerLinkActive="nav-link-active"
            [routerLinkActiveOptions]="{exact:true}"><strong>Impressum</strong></a>
        </li>
      </ul>
    </div>
  </header>


  <!-- Footer -->
  <footer class="footer">
    <!-- Copyright -->
    <div class="container">© 2020 Copyright:
      <a  routerLink="/impressum" routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{exact:true}">Justus R.</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</body>