<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <main class="col-12 bd-content" role="main">
      <h1> Schuhe Hinzufügen</h1>
      <p>Um ihre Schuhe einzutragen füllen Sie bitte das nachfolgende Formular aus und drücken anschließend auf
        Hinzufügen.</p>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group" [ngClass]="{ 'has-error': falscherMarkennaame() }">
          <!-- Markenname -->
          <label for="mname" class="control-label"><strong>Marke: </strong></label>
          <input type="text" formControlName="mname" class="form-control" id="mname" name="mname" autocomplete="off"
            placeholder="Eingabe">
          <p *ngIf="falscherMarkennaame()" id="mname_error" class="help-block">ungültiger Markenname.</p>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': falscheSchuhgroese() }">
          <!-- Schuhgröße -->
          <label for="mname" class="control-label"><strong>Schuhgröße:</strong></label>
          <input type="number" formControlName="sSize" class="form-control" id="sSize" name="sSize" autocomplete="off"
            placeholder="Eingabe">
          <p *ngIf="falscheSchuhgroese()" id="sSize_error" class="help-block">ungültige Schuhgröße.</p>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': falscherModelname() }">
          <!-- Modelname -->
          <label for="moname" class="control-label"><strong>Modellname:</strong></label>
          <input type="text" formControlName="moname" class="form-control" id="moname" name="moname" autocomplete="off"
            placeholder="Eingabe">
          <p *ngIf="falscherModelname()" id="sSize_error" class="help-block">ungültiger Modellname.</p>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': falschesFoto() }">
          <!-- Foto -->
          <label for="pic" class="control-label"><strong>Bild vom Schuh:</strong></label>
          <input #file type="file" formControlName="pic" class="form-control-file" id="pic" name="pic" accept="image/*"
            (change)="preview(file.files)">
          <p *ngIf="falschesFoto()" id="pic_error" class="help-block">ungültiges Bild vom Schuh.</p>
          <img class="responsiveImage" [src]="imgURL" *ngIf="imgURL">
        </div>
        <div class="form-group has-error">
          <button type="submit" class="btn btn-success">Hinzufügen</button>
        </div>
      </form>
    </main>
  </div>
</div>