.bd-content{-webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
.container-fluid{
    padding-bottom: 70px;
    padding-top: 100px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
.responsiveImage{
  width: 100%;
  max-width: 300px;
  height: auto;
}